{
  "env": {
    "browser": true,
    "es6": true,
    "vue/setup-compiler-macros": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "vue"
  ],
  "rules": {
    "no-console": "warn",
    "no-debugger": "warn",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "vue/require-default-prop": "off"
  }
}
