{
  "root": true,
  "plugins": [
    "stylelint-order"
  ],
  "extends": [
    "stylelint-config-standard"
  ],
  "ignoreFiles": [
    "**/*.js",
    "**/*.jsx",
    "**/*.tsx",
    "**/*.ts"
  ],
  "rules": {}
}
